<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trusause.app.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.trusause.app.domain.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_person" jdbcType="VARCHAR" property="createPerson" />
    <result column="create_person_name" jdbcType="VARCHAR" property="createPersonName" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="system_create_time" jdbcType="TIMESTAMP" property="systemCreateTime" />
    <result column="system_update_time" jdbcType="TIMESTAMP" property="systemUpdateTime" />
    <result column="update_person" jdbcType="VARCHAR" property="updatePerson" />
    <result column="update_person_name" jdbcType="VARCHAR" property="updatePersonName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, create_person, create_person_name, delete_flag, system_create_time, 
    system_update_time, update_person, update_person_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_test_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_test_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trusause.app.domain.Course">
    insert into t_test_course (id, code, name, 
      create_person, create_person_name, delete_flag, 
      system_create_time, system_update_time, 
      update_person, update_person_name)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createPerson,jdbcType=VARCHAR}, #{createPersonName,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT}, 
      #{systemCreateTime,jdbcType=TIMESTAMP}, #{systemUpdateTime,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=VARCHAR}, #{updatePersonName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trusause.app.domain.Course">
    insert into t_test_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createPerson != null">
        create_person,
      </if>
      <if test="createPersonName != null">
        create_person_name,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="systemCreateTime != null">
        system_create_time,
      </if>
      <if test="systemUpdateTime != null">
        system_update_time,
      </if>
      <if test="updatePerson != null">
        update_person,
      </if>
      <if test="updatePersonName != null">
        update_person_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createPersonName != null">
        #{createPersonName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="systemCreateTime != null">
        #{systemCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemUpdateTime != null">
        #{systemUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updatePersonName != null">
        #{updatePersonName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trusause.app.domain.Course">
    update t_test_course
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null">
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createPersonName != null">
        create_person_name = #{createPersonName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="systemCreateTime != null">
        system_create_time = #{systemCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemUpdateTime != null">
        system_update_time = #{systemUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updatePersonName != null">
        update_person_name = #{updatePersonName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trusause.app.domain.Course">
    update t_test_course
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_person_name = #{createPersonName,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      system_create_time = #{systemCreateTime,jdbcType=TIMESTAMP},
      system_update_time = #{systemUpdateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_person_name = #{updatePersonName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>